@import url('https://fonts.googleapis.com/css?family=Montserrat|Ubuntu');

body{background-color:#a0a7b2;
font-family:'Ubuntu';
margin-bottom:60px;
}
#reference{margin-bottom:200px;}

#title{
    color:#5dbf6c;
    font-size:40px;
    text-shadow:0.5px 0.5px 2px grey;
}

a{text-decoration: none;
color:grey;}
a:hover{text-decoration: none;
color:#5dbf6c}

.container:not(#main){
    margin-top:40px;
    padding:20px;
    background-color:white;
border-radius:15px;}

.container{
    box-shadow:1px 1px 3px grey;
}

#main{background-color:white;
padding-top:30px;
padding-bottom:30px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;}


h4{transition-duration:.7s;}
h4:hover{cursor:pointer;
color:#5dbf6c;
transition-duration:.7s;
padding-left:20px;}

